/.bundle
/.env*
/config/master.key
/log/*
/storage/*
/tmp/*

!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep

/public/assets
/public/packs
/public/packs-test
/node_modules
/vendor/bundle

/output/playwright/
